﻿@model SopEmbraco.Models.ProductionBatch
@using SopEmbraco.Models

<div class="form-group">
    @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
        {
            Text = option.Name,
            Value = option.WorkshopId.ToString(),
            Selected = (Model != null) && (Model.WorkshopId == option.WorkshopId)
        }), "All", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BatchNumber, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BatchNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BatchNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProductModelId, "ProductModelId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProductModelId, ((IEnumerable<ProductModel>)ViewBag.ProductModels).Select(option => new SelectListItem {
            Text = option.Name,
            Value = option.ProductModelId.ToString(),
            Selected = (Model != null) && (Model.ProductModelId == option.ProductModelId)
   }), "All", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductModelId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProductCodeId, "ProductCodeId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("ProductCodeId", null, htmlAttributes: new { @class = "form-control selectize ComboBoxNormalComSelectize" })
        @Html.ValidationMessageFor(model => model.ProductCodeId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
    </div>
</div>
