﻿@model SopEmbraco.Models.ProductionBatch

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProductionBatch</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductionBatchId)
        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BatchNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#WorkshopId").change(function () {
            $("#ProductCodeId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByWorkshopId","ProductCodes")" + "/" + $(this).val(),
                success: function (data) {
                    $("#ProductCodeId").empty();
                    $("#ProductCodeId").append('<option value>Select...</option>');
                    $.each(data, function (index, element) {
                        $("#ProductCodeId").append('<option value="' + element.ProductCodeId + '">' + element.Name + '</option>');
                    });

                    $("#ProductCodeId").attr('disabled', false);
                }
            });
        });

        $("#ProductModelId").change(function () {
            $("#ProductCodeId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByProductModelId","ProductCodes")" + "/" + $(this).val(),
                success: function (data) {
                    $("#ProductCodeId").empty();
                    $("#ProductCodeId").append('<option value>Select...</option>');
                    $.each(data, function (index, element) {
                        $("#ProductCodeId").append('<option value="' + element.ProductCodeId + '">' + element.Name + '</option>');
                    });

                    $("#ProductCodeId").attr('disabled', false);
                }
            });
        });

        $(document).ready(function () {
            $(".selectize").each(function () {
                $(this).selectize({
                    sortField: 'text'
                });
            });
        });
    </script>
}
