﻿@model IEnumerable<SopEmbraco.Models.ProductionBatch>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <td>
            <h4>@Html.ActionLink("Click here to Production Register", "Index", "Productions")</h4>
        </td>
    </tr>
</table>
<h2>Production Batch - Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </th>
        <th>@Html.DisplayNameFor(model => model.ProductCode.ProductModel.Name)</th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNumber)
            </td>
            <td>@Html.DisplayFor(modelItem => item.ProductCode.ProductModel.Name)</td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductionBatchId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductionBatchId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductionBatchId })
            </td>
        </tr>
    }

</table>
