﻿@model SopEmbraco.ViewModels.ReportsViewModel
@using SopEmbraco.Models

@{
    ViewBag.Title = "Reports";
}

<h1>Reports</h1>

@using (Html.BeginForm("Index", "Reports", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.WorkshopId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Date, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="refresh-grid">Filter</button>
            </div>
        </div>
    </div>
}

@if (Model.WorkshopLineReports != null)
{
    <div id="carousel" class="owl-carousel owl-theme">
        @foreach (var workshopLineReport in Model.WorkshopLineReports)
        {
            <div class="item">
                <h2>Workshop Line: @workshopLineReport.WorkshopLine.Name &nbsp;&nbsp;
                Product Code: @(workshopLineReport.ProductionBatch != null && workshopLineReport.ProductionBatch.ProductCode != null ? workshopLineReport.ProductionBatch.ProductCode.Name : "Not Defined") &nbsp;&nbsp;
                Production Batch: @(workshopLineReport.ProductionBatch != null ? workshopLineReport.ProductionBatch.BatchNumber : "Not Defined")</h2>
                <hr />
                <div id="@workshopLineReport.WorkshopLine.Name.Replace(" ", "")" class="chart" style="width: 1100px; height: 350px; padding-bottom: 15px;">
                </div>
            </div>
        }
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/carousel")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".date").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            setTimeout(function () {
                window.location.reload(1);
            }, 120000);

            var owl = $("#carousel");

            owl.owlCarousel({
                singleItem: true
            });

            owl.trigger('owl.play', 10000);
        });
    </script>

    @if (Model.WorkshopLineReports != null)
    {
        foreach (var workshopLineReport in Model.WorkshopLineReports)
        {
            @Html.CreateFlotData(
                new Dictionary<string, SopEmbraco.Flot.FlotDataCollection>
                {
                    { "RealQuantities_" + workshopLineReport.WorkshopLine.Name.Replace(" ", ""), workshopLineReport.RealQuantities },
                    { "Targets_" + workshopLineReport.WorkshopLine.Name.Replace(" ", ""), workshopLineReport.Targets }
                }
            )

            <script>
                $(document).ready(function () {
                    $.plot($("#@workshopLineReport.WorkshopLine.Name.Replace(" ", "")"),
                        [{
                            label: "Real Quantity",
                            data: RealQuantities_@workshopLineReport.WorkshopLine.Name.Replace(" ", ""),
                            color: "#00149d",
                            bars: {
                                show: true,
                                // barWidth: 60 * 60 * 600,
                                barWidth: 0.6,
                                align: "center"
                            },
                            valueLabels: {
                                show: true
                            }
                        }, {
                            label: "Target",
                            data: Targets_@workshopLineReport.WorkshopLine.Name.Replace(" ", ""),
                            color: "#b90851",
                            points: { symbol: "triangle", fillColor: "#b90851", show: true },
                            lines: { show: true },
                            valueLabels: {
                                show: true
                            }
                        }],
                        {
                            xaxis: {
                                //mode: "time",
                                mode: "categories",
                                axisLabel: "Date",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 10,
                                color: "black",
                                tickLength:0
                            },
                            yaxis: {
                                tickLength: 0
                            },
                            grid: {
                                margin: 10
                            },
                            legend: { position: "sw" }
                        });
                });
            </script>
        }
    }
}