﻿@model SopEmbraco.ViewModels.MachineStopsPerReasonViewModel
@using SopEmbraco.Models

@{
    ViewBag.Title = "Machine Stops Per Reason Report";
}

<h1>Machine Stops Per Reason</h1>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("MachineStopsPerReason", "Reports", FormMethod.Get))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
                        {
                            Text = option.Name,
                            Value = option.WorkshopId.ToString()
                        }), "All", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkshopLineId, "WorkshopLineId", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.WorkshopLineId, ((IEnumerable<WorkshopLine>)ViewBag.WorkshopLines).Select(option => new SelectListItem
                        {
                            Text = option.Name,
                            Value = option.WorkshopLineId.ToString()
                        }), "All", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkshopLineId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control time" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control time" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="refresh-grid">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>OEE: @Model.Oee %</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>AU: @Model.Au</h3>
            </div>
        </div>
    </div>
</div>

<hr />

<h4>Detail</h4>

<div id="jsGridMachineStop"></div>

<hr />

<div id="machine-stops-per-reason-flot" class="chart" style="width: 1100px; height: 350px; padding-bottom: 15px;">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("~/bundles/charts")

    @if (Model != null && Model.MachineStopsPerReasonData != null)
    {
        @Html.CreateFlotData(
            new Dictionary<string, SopEmbraco.Flot.FlotDataCollection>
            {
                { "MachineStopsPerReasonData", Model.MachineStopsPerReasonData },
            }
        )
    }

    <script>
        function ReloadWorkshopLines(workshopId) {
            if (workshopId == "") return;
            $("#WorkshopLineId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByWorkshopId","WorkshopLines")" + "/" + workshopId,
                success: function (data) {
                    $("#WorkshopLineId").empty();
                    $("#WorkshopLineId").append('<option value>All</option>');
                    $.each(data, function (index, element) {
                        $("#WorkshopLineId").append('<option value="' + element.WorkshopLineId + '">' + element.Name + '</option>');
                    });

                    $("#WorkshopLineId").attr('disabled', false);
                }
            });
        }

        $("#WorkshopId").change(function () {
            ReloadWorkshopLines($(this).val());
        });

        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".date").datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $(".time").mask("99:99");

            $("#jsGridMachineStop").jsGrid({
                height: "auto",
                width: "100%",

                filtering: false,
                inserting: false,
                editing: false,
                sorting: true,
                paging: false,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                controller: {
                    loadData: function (filter) {
                        var outsideFilters = {
                            WorkshopLineId: $("#WorkshopLineId").val(),
                            StartDate: $("#StartDate").val(),
                            EndDate: $("#EndDate").val(),
                            StartTime: $("#StartTime").val(),
                            EndTime: $("#EndTime").val()
                        };

                        return $.ajax({
                            type: "GET",
                            url: "@Url.Action("MachineStopsPerReasonJson", "Reports")",
                            data: outsideFilters,
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "WorkshopLine", type: "text" },
                    { name: "Date", type: "currentdate", width: 80 },
                    { name: "Start", type: "time", width: 80 },
                    { name: "Finish", type: "time", width: 80 },
                    { name: "MachineStopMode", type: "text" },
                    { name: "MachineStopReason", type: "text" },
                    { name: "Comment", type: "text", width: 150 },
                    { type: "control" }
                ]
            });

            if (MachineStopsPerReasonData != undefined) {
                $.plot($("#machine-stops-per-reason-flot"),
                    [{
                        label: "Amount",
                        data: MachineStopsPerReasonData,
                        color: "#00149d",
                        bars: {
                            show: true,
                            align: "center",
                            barWidth: 0.8
                        },
                        valueLabels: {
                            show: true,
                            labelFormatter: function (v) {
                                return minTommss(v);
                            }
                        }
                    }],
                    {
                        xaxis: {
                            mode: "categories"
                        },
                        grid: {
                            margin: 10
                        },
                        legend: { position: "sw" }
                    });
            }
        });
    </script>
}