﻿@model SopEmbraco.ViewModels.ProductionIntervalViewModel
@using SopEmbraco.Models
@using SopEmbraco.ViewModels

@{
    ViewBag.Title = "Production Interval Report";
}

<h1>Production Interval</h1>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ProductionInterval", "Reports", FormMethod.Get))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
                        {
                            Text = option.Name,
                            Value = option.WorkshopId.ToString()
                        }), "All", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkshopLineId, "WorkshopLineId", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.WorkshopLineId, ((IEnumerable<WorkshopLine>)ViewBag.WorkshopLines).Select(option => new SelectListItem
                        {
                            Text = option.Name,
                            Value = option.WorkshopLineId.ToString()
                        }), "All", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkshopLineId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control time" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control time" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <label>
                            @Html.RadioButtonFor(model => model.Group, ProductionIntervalGroup.Hour) Hour
                        </label>
                        <label>
                            @Html.RadioButtonFor(model => model.Group, ProductionIntervalGroup.Day) Day
                        </label>
                        <label>
                            @Html.RadioButtonFor(model => model.Group, ProductionIntervalGroup.Week) Week
                        </label>
                        <label>
                            @Html.RadioButtonFor(model => model.Group, ProductionIntervalGroup.Month) Month
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="refresh-grid">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>OEE: @Model.Oee</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>AU: @Model.Au</h3>
            </div>
        </div>
    </div>*@
</div>

<hr />

<div id="production-interval-flot" class="chart" style="width: 1100px; height: 350px; padding-bottom: 15px;">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("~/bundles/charts")

    @if (Model != null && Model.RealQuantities != null && Model.Targets != null)
    {
        @Html.CreateFlotData(
         new Dictionary<string, SopEmbraco.Flot.FlotDataCollection>
            {
                { "RealQuantities", Model.RealQuantities },
                { "Targets", Model.Targets }
            }
     )
    }

    <script>
        function ReloadWorkshopLines(workshopId) {
            if (workshopId == "") return;
            $("#WorkshopLineId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByWorkshopId", "WorkshopLines")" + "/" + workshopId,
                success: function (data) {
                    $("#WorkshopLineId").empty();
                    $("#WorkshopLineId").append('<option value>Select...</option>');
                    $.each(data, function (index, element) {
                        $("#WorkshopLineId").append('<option value="' + element.WorkshopLineId + '">' + element.Name + '</option>');
                    });

                    $("#WorkshopLineId").attr('disabled', false);
                }
            });
        }

        $("#WorkshopId").change(function () {
            ReloadWorkshopLines($(this).val());
        });

        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".date").datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $(".time").mask("99:99");

            if (RealQuantities != undefined) {
                $.plot($("#production-interval-flot"),
                    [{
                        label: "Real Quantity",
                        data: RealQuantities,
                        color: "#00149d",
                        bars: {
                            show: true,
                            barWidth: 0.6,
                            align: "center"
                        },
                        valueLabels: {
                            show: true
                        }
                    }, {
                        label: "Target",
                        data: Targets,
                        color: "#b90851",
                        points: { symbol: "triangle", fillColor: "#b90851", show: true },
                        lines: { show: true },
                        valueLabels: {
                            show: true
                        }
                    }],
                    {
                        xaxis: {
                            @*{
                                switch (Model.Group) {
                                    case ProductionIntervalGroup.Hour:
                                        @Html.Raw("mode: \"time\",");
                                        break;
                                    case ProductionIntervalGroup.Day:
                                    case ProductionIntervalGroup.Week:
                                        @Html.Raw("mode: \"time\",");
                                        @Html.Raw("timeformat: \"%d/%m/%y\",")
                                        break;
                                    case ProductionIntervalGroup.Month:
                                        @Html.Raw("mode: \"categories\",");
                                        break;
                                }
                            }*@

                            mode: "categories",
                            axisLabel: "Date",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10,
                            color: "black",
                            tickLength: 0
                        },
                        yaxis: {
                            tickLength: 0
                        },
                        grid: {
                            margin: 10
                        },
                        legend: { position: "sw" }
                    });
            }
        });
    </script>
}