﻿@model SopEmbraco.Models.WorkshopLine

<div class="form-group">
    @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("WorkshopId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Positions, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Positions, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Positions, "", new { @class = "text-danger" })
    </div>
</div>