﻿@model SopEmbraco.Models.WorkshopLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkshopLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workshop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Positions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positions)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkshopLineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
