﻿@model IEnumerable<SopEmbraco.Models.WorkshopLine>

@{
    ViewBag.Title = "WorkShop Lines";
}
@if (Request.IsAuthenticated) {
<h2>WorkShop Lines - Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Workshop.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Workshop.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkshopLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkshopLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkshopLineId })
        </td>
    </tr>
}

</table>
}
else
{
    <h3>Operation allowed for the administrator only</h3>
}
