﻿@model IEnumerable<SopEmbraco.Models.MachineStopReason>

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
<h2>Reason Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Modes
        </th>
        <th>
            Reason
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MachineStopMode.Name)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachineStopReasonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachineStopReasonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachineStopReasonId })
        </td>
    </tr>
}

</table>
}
else
{
    <h3>Operation allowed for the administrator only</h3>
}

