﻿@model SopEmbraco.Models.ProductCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eu)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductCodeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
