﻿@model IEnumerable<SopEmbraco.Models.ProductCode>

@{
    ViewBag.Title = "Product Code";
}

@if (Request.IsAuthenticated)
{
    <h2>Product Code - Register</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductCodeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductCodeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductCodeId })
                </td>
            </tr>
        }

    </table>
}
else {
    <h3>Operation allowed for the administrator only</h3>
}
