﻿@model SopEmbraco.Models.MachineStopMode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MachineStopMode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Mode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineStopModeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
