﻿@model IEnumerable<SopEmbraco.Models.MachineStopMode>

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
<h2>Modes Reason Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mode
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachineStopModeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachineStopModeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachineStopModeId })
        </td>
    </tr>
}

</table>
}else
{
<h3>Operation allowed for the administrator only</h3>
}
