﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Embraco Digital SOP</title>
    @Styles.Render("~/BundledContent/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("电子SOP", "Index", "DigitalSop")</li>
                    <li>@Html.ActionLink("生产车间", "Index", "Workshops")</li>
                    <li>@Html.ActionLink("产品家族", "Index", "ProductModels")</li>
                    <li>@Html.ActionLink(" 生产线别", "Index", "WorkShopLines")</li>  
                    <li>@Html.ActionLink("生产型号", "Index", "ProductCodes")</li>
                    <li>@Html.ActionLink("Batch No", "Index", "ProductionBatches")</li>  
                    <li>@Html.ActionLink("Modes", "Index", "MachineStopModes")</li> 
                    <li>@Html.ActionLink("Reason", "Index", "MachineStopReasons")</li> 
                    <li>@Html.ActionLink("Reports", "Contact", "Home")</li> 

                               
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Embraco Digital SOP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
