﻿@model IEnumerable<SopEmbraco.Models.ProductModel>

@{
    ViewBag.Title = "Product Model";
}
@if (Request.IsAuthenticated) {
<h2>Prduct Model - Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductModelId })
        </td>
    </tr>
}

</table>
}
else
{
    <h3>Operation allowed for the administrator only</h3>
}