﻿@{
    ViewBag.Title = "Reports";
}
<h2>@ViewBag.Title.</h2>

<p><spam class="btn btn-default">@Html.ActionLink("Production Per Date", "Index", "Reports")</spam></p>
<p><spam class="btn btn-default">@Html.ActionLink("MachineStops Per Reason", "MachineStopsPerReason", "Reports")</spam></p>
<p><spam class="btn btn-default">@Html.ActionLink("Production Interval", "ProductionInterval", "Reports")</spam></p>