﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Embraco Digital SOP</h1>
    <p class="lead">To conduct research of SOP files you can access the link below.</p>
    <p><spam class="btn btn-default">@Html.ActionLink("电子SOP", "Index", "DigitalSop")</spam></p>
</div>


<div class="jumbotron">

    <h1>Production</h1>
    <p class="lead">Production System for production record.</p>
    <p><spam class="btn btn-default">@Html.ActionLink("Production", "Index", "Productions")</spam></p>



</div>
