﻿@model IEnumerable<SopEmbraco.Models.TimeSuggestion>

@{
    ViewBag.Title = "Time Suggestions";
}
<table class="table">
    <tr>
        <td>
            <h4>@Html.ActionLink("Return to Productions", "Index", "Productions")</h4>
        </td>
    </tr>
</table>
            <h2>Time Suggestions - Register</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TimeSuggestionId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TimeSuggestionId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TimeSuggestionId })
                        </td>
                    </tr>
                }

            </table>
