﻿@model SopEmbraco.ViewModels.ProductionViewModel

<div class="form-group">
    <table class="table" id="production-table">
        <thead>
            <tr>
                <th>Production Batch</th>
                <th>Plan Qty.</th>
                <th>Product Code</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Target</th>
                <th>Real Quantity</th>
                <th>Comment</th>
                <th style="min-width: 176px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PendingProductions != null)
            {
                foreach (var production in Model.PendingProductions)
                {
                    @Html.Partial("_ProductionRow", production)
                }
            }
        </tbody>
    </table>
</div>