﻿@model SopEmbraco.Models.Production
@using SopEmbraco.Models

<tr>
    @using (Html.BeginCollectionItem("PendingProductions"))
    {
        @Html.HiddenFor(model => model.WorkshopLineId)
        @Html.HiddenFor(model => model.ProductionId)

        <td class="form-group">
            @if (Model.ProductionBatchStatusConcluded)
            {
                @Html.HiddenFor(model => model.ProductionBatchId)
                @Html.TextBoxFor(model => model.ConcludedBatchName, new { @class = "form-control", @readonly = "readonly" })
            }
            else
            {
                @Html.DropDownListFor(model => model.ProductionBatchId, ((IEnumerable<ProductionBatch>)ViewBag.ProductionBatches).Select(option => new SelectListItem
                {
                    Text = option.BatchNumber,
                    Value = option.ProductionBatchId.ToString(),
                    Selected = (Model != null) && (Model.ProductionBatchId == option.ProductionBatchId)
                }), "Select...", new { @class = "form-control productionbatch", style = "min-width: 100px;" })
            }

            @Html.ValidationMessageFor(model => model.ProductionBatchId, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.EditorFor(model => model.PlanQuantity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "min-width: 80px;" } })
        </td>

        <td class="form-group">
            @Html.EditorFor(model => model.ProductCodeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "min-width: 120px;" } })
        </td>

        <td class="form-group">
            @Html.TextBoxFor(model => model.Date, "{0:dd/MM/yyyy}", new { @class = "form-control date", style = "min-width: 100px;" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control time", style = "min-width: 100px;" })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control time", style = "min-width: 100px;" })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.EditorFor(model => model.Target, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "min-width: 80px;" } })
            @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.EditorFor(model => model.RealQuantity, new { htmlAttributes = new { @class = "form-control", style = "min-width: 80px;" } })
            @Html.ValidationMessageFor(model => model.RealQuantity, "", new { @class = "text-danger" })
        </td>

        <td class="form-group">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", rows = 1, style = "min-width: 130px;" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </td>

        <td>
            <a class="btn btn-default" onclick="$(this).parent().parent().remove();">Delete</a>
            <a class="btn btn-success save-line">Save</a>
        </td>
    }
</tr>