﻿@model SopEmbraco.ViewModels.ProductionViewModel
@using SopEmbraco.Models

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Productions</h4>
        <hr />

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.WorkshopId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.WorkshopLineId, "WorkshopLineId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("WorkshopLineId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkshopLineId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a id="add-new-production" class="btn btn-default">Add Line</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function ReloadWorkshopLines(workshopId) {
            if (workshopId == "") return;
            $("#WorkshopLineId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByWorkshopId","WorkshopLines")" + "/" + workshopId,
                success: function (data) {
                    $("#WorkshopLineId").empty();
                    $("#WorkshopLineId").append('<option value>Select...</option>');
                    $.each(data, function (index, element) {
                        $("#WorkshopLineId").append('<option value="' + element.WorkshopLineId + '">' + element.Name + '</option>');
                    });

                    $("#WorkshopLineId").attr('disabled', false);
                }
            });
        }

        $(document).on("change", ".productionbatch", function () {
            var selectedBatch = $(this);
            $.ajax({
                url: "@Url.Action("GetProductCodeJson", "ProductionBatches")" + "/" + $(this).val(),
                success: function (data) {
                    var productCodeId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "ProductCodeName");
                    var planQuantityId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "PlanQuantity");
                    var targetId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "Target");
                    $(productCodeId).val(data.Name);
                    $(planQuantityId).val(data.Quantity);
                    $(targetId).val(data.Target);
                }
            });
        });

        $("#add-new-production").click(function () {
            $.get("@Url.Action("NewProductionRow", "Productions")", function (template) {
                $("#production-table tbody").append(template);
                $(".date").mask("99/99/9999");
                $(".time").mask("99:99");
            });
        });

        $("#WorkshopId").change(function () {
            ReloadWorkshopLines($(this).val());
        });

        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".time").mask("99:99");
        });
    </script>
}
