﻿@model SopEmbraco.Models.WorkshopLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Workshop: @Model.Workshop.Name</h3>
<table class="table">
    <tr>
        <td>
            <table class="table">
                <tr>
                    <th>
                        Production Batch
                    </th>
                    <th>
                        Product Code
                    </th>
                    <th>
                        Workshop Line
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    <th>
                        Target
                    </th>
                    <th>
                        Real Quantity
                    </th>
                    <th>
                        Real Quantity Batch
                    </th>
                    <th>
                        Comment
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Productions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductionBatch.BatchNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductionBatch.ProductCode.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkshopLine.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Target)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RealQuantity)
                        </td>
                        <td>
                            @Model.Productions.Where(p => p.ProductionBatchId == item.ProductionBatchId).Sum(p => p.RealQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId })
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkshopLineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
