﻿@model SopEmbraco.ViewModels.ProductionViewModel

@{
    ViewBag.Title = "Edit";
}

@*<h4>Concluded Productions</h4>
    <hr />
    <h5>These productions are in a finalized batch.</h5>

    <div class="form-group">
        <table class="table" id="production-readonly-table">
            <thead>
                <tr>
                    <th>Production Batch</th>
                    <th>Plan Qty.</th>
                    <th>Product Code</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Target</th>
                    <th>Real Quantity</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var regularProduction in Model.ConcludedProductions)
                {
                    <tr>
                        <td>@regularProduction.ProductionBatch.BatchNumber</td>
                        <td>@regularProduction.PlanQuantity</td>
                        <td>@regularProduction.ProductCodeName</td>
                        <td>@regularProduction.Date.ToShortDateString()</td>
                        <td>@regularProduction.StartTime</td>
                        <td>@regularProduction.EndTime</td>
                        <td>@regularProduction.Target</td>
                        <td>@regularProduction.RealQuantity</td>
                        <td>@regularProduction.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

<table>
    <tr>
        <td><h3 style="color:blue">Workshop:  @Model.WorkshopLine.Workshop.Name </h3></td>
        
        <td><h3 style="color:blue">&nbsp;&nbsp;Workshop Line:  @Model.WorkshopLine.Name</h3></td>
    </tr>
</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Productions</h4>
        @*<h5>Please provide entries for the described timespans below.</h5>*@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WorkshopLineId)
        @Html.Hidden("CurrentDate", DateTime.Today)
        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a id="add-new-production" class="btn btn-default">Add Line</a>
                <input type="submit" value="Save All" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

<h4>Machine Stops</h4>

<div id="jsGridMachineStop"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsgrid")

    <script>
        $("#add-new-production").click(function () {
            $.get("@Url.Action("NewProductionRow", "Productions")/" + $("#WorkshopLineId").val(), function (template) {
                $("#production-table tbody").append(template);
                $(".date").mask("99/99/9999");
                $(".time").mask("99:99");
            });
        });

        $(document).on("change", ".productionbatch", function () {
            var selectedBatch = $(this);
            $.ajax({
                url: "@Url.Action("GetProductCodeJson", "ProductionBatches")" + "/" + $(this).val(),
                success: function (data) {
                    var productCodeId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "ProductCodeName");
                    var planQuantityId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "PlanQuantity");
                    var targetId = "#" + $(selectedBatch).attr('id').replace("ProductionBatchId", "Target");
                    $(productCodeId).val(data.Name);
                    $(planQuantityId).val(data.Quantity);
                    $(targetId).val(data.Target);
                }
            });
        });

        $(document).on("change", ".form-control", function () {
            var thisLine = $(this).parent().parent().children();
            var button = thisLine.find(".save-line");
            button.attr('disabled', false);
            button.text('Save');
            var validationSpan = $(thisLine).find("span[data-valmsg-for*='Comment']");
            $(validationSpan).text("");
            $(validationSpan).removeClass("field-validation-error");
            $(validationSpan).addClass("field-validation-valid");
        });

        $(document).on("click", ".save-line", function () {
            var thisButton = $(this);
            var thisLine = $(this).parent().parent().children();
            var url = "";

            if (Number($(thisLine).find("input[name*='Target']").val()) > Number($(thisLine).find("input[name*='RealQuantity']").val())) {

                if ($(thisLine).find("textarea").val() == "") {
                    var validationSpan = $(thisLine).find("span[data-valmsg-for*='Comment']");
                    $(validationSpan).text("Please justify the difference and create a Machine Stop record.");
                    $(validationSpan).removeClass("field-validation-valid");
                    $(validationSpan).addClass("field-validation-error");
                    return;
                }
            }

            if ($(thisLine[2]).val() == '00000000-0000-0000-0000-000000000000') {
                url = "@Url.Action("CreateJson", "Productions")"
            } else {
                url = "@Url.Action("EditJson", "Productions")/" + $(thisLine).val();
            }

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    ProductionId: $(thisLine[2]).val(),
                    WorkshopLineId: $(thisLine[1]).val(),
                    ProductionBatchId: $(thisLine).find("select").val(),
                    Date: $(thisLine).find("input[name*='Date']").val(),
                    StartTime: $(thisLine).find("input[name*='StartTime']").val(),
                    EndTime: $(thisLine).find("input[name*='EndTime']").val(),
                    Target: $(thisLine).find("input[name*='Target']").val(),
                    RealQuantity: $(thisLine).find("input[name*='RealQuantity']").val(),
                    Comment: $(thisLine).find("textarea").val()
                },
                dataType: "json",
                success: function (data) {
                    thisButton.attr('disabled', 'disabled');
                    thisButton.text('Saved');
                    $(thisLine[2]).val(data.ProductionId);
                }
            });
        });

        function getMachineStopModes(callback) {
            var machineStopModes = [];
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllJson", "MachineStopModes")",
                async: false,
                success: function (data) {
                    machineStopModes.push({ Name: "Select...", Id: "" });
                    $.each(data, function (index, element) {
                        machineStopModes.push({ Name: element.Name, Id: element.MachineStopModeId });
                    });

                    callback.call(this, machineStopModes);
                }
            });
        }

        function getMachineStopReasons(callback) {
            var machineStopReasons = [];
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllJson", "MachineStopReasons")",
                async: false,
                success: function (data) {
                    machineStopReasons.push({ Name: "Select...", Id: "", Mode: "" });
                    $.each(data, function (index, element) {
                        machineStopReasons.push({ Name: element.Name, Id: element.MachineStopReasonId, Mode: element.MachineStopModeId });
                    });

                    callback.call(this, machineStopReasons);
                }
            });
        }

        var CurrentDateField = function (config) {
            jsGrid.Field.call(this, config);
        };

        CurrentDateField.prototype = new jsGrid.Field({
            css: "date-field",
            align: "center",

            sorter: function (date1, date2) {
                return new Date(date1) - new Date(date2);
            },

            itemTemplate: function (value) {
                return moment(value).format("DD/MM/YYYY");
            },

            insertTemplate: function (value) {
                if (!this.inserting)
                    return "";

                var $result = this.insertControl = $("<input>").attr("type", "text");
                $result.mask("99/99/9999");
                $result.val(moment($("#CurrentDate")).format("DD/MM/YYYY"));
                return $result;
            },

            editTemplate: function (value) {
                if (!this.editing)
                    return this.itemTemplate(value);

                var $result = this.editControl = $("<input>").attr("type", "text");
                $result.mask("99/99/9999");
                $result.val(moment(value).format("YYYY-MM-DD"));
                return $result;
            },

            insertValue: function () {
                return this.insertControl.val();
            },

            editValue: function () {
                return this.editControl.val();
            },

            _createTextBox: function () {
                var $result = $("<input>").attr("type", "text");
                $result.mask("99/99/9999");
                $result.val(moment($("#CurrentDate")).format("DD/MM/YYYY"));
                return $result;
            },

            filterTemplate: function () {
                if (!this.filtering)
                    return "";

                var grid = this._grid,
                    $result = this.filterControl = this._createTextBox();

                if (this.autosearch) {
                    $result.on("keypress", function (e) {
                        if (e.which === 13) {
                            grid.search();
                            e.preventDefault();
                        }
                    });
                }

                return $result;
            }
        });

        jsGrid.fields.currentdate = CurrentDateField;

        $(document).on("change", ".jsgrid-insert-row .machinestopmode, .jsgrid-filter-row .machinestopmode", function () {
            var drop_down = $(this).parent().parent().children().find('.machinestopreason')[0];
            var filter_reasons = [];
            if ($(this).val() !== "") {
                var drop_down_val = $(this).val();
                filter_reasons = $.grep(window.MachineStopReasons, function (v) {
                    return v.Mode === drop_down_val;
                });
                filter_reasons.unshift({ Name: "Select...", Id: "", Mode: "" });
            } else {
                filter_reasons = window.MachineStopReasons;
            }

            $(drop_down).empty();
            $.each(filter_reasons, function (index, element) {
                $(drop_down).append('<option value="' + element.Id + '">' + element.Name + '</option>');
            });
        });

        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".time").mask("99:99");

            getMachineStopReasons(function (a) {
                window.MachineStopReasons = a;
            });

            getMachineStopModes(function (a) {
                window.MachineStopModes = a;
            });

            $("#jsGridMachineStop").jsGrid({
                height: "auto",
                width: "100%",

                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: false,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                deleteConfirm: "Do you really want to delete this machine stop entry?",

                controller: {
                    loadData: function (filter) {
                        var outsideFilters = { WorkshopLineId: $("#WorkshopLineId").val(), Date: $("#CurrentDate").val() };
                        var newFilter = $.extend({}, filter, outsideFilters);

                        return $.ajax({
                            type: "GET",
                            url: "@Url.Action("IndexJson", "MachineStops")",
                            data: newFilter,
                            dataType: "json"
                        });
                    },

                    insertItem: function (item) {
                        var outsideFilters = { WorkshopLineId: $("#WorkshopLineId").val() };
                        var newItem = $.extend({}, item, outsideFilters);

                        return $.ajax({
                            type: "POST",
                            url: "@Url.Action("CreateJson", "MachineStops")",
                            data: newItem,
                            dataType: "json"
                        });
                    },

                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "@Url.Action("EditJson", "MachineStops")",
                            data: item,
                            dataType: "json"
                        });
                    },

                    deleteItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "@Url.Action("DeleteJson", "MachineStops")",
                            data: item,
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "WorkshopLineId", type: "text", visible: false },
                    { name: "Date", type: "currentdate", width: 80 },
                    { name: "Start", type: "time", width: 80 },
                    { name: "Finish", type: "time", width: 80 },
                    { name: "MachineStopModeId", type: "selectwithclass", width: 100, items: window.MachineStopModes, valueField: "Id", textField: "Name", className: "machinestopmode" },
                    { name: "MachineStopReasonId", type: "selectwithclass", width: 100, items: window.MachineStopReasons, valueField: "Id", textField: "Name", className: "machinestopreason" },
                    { name: "Comment", type: "text", width: 150 },
                    { type: "control" }
                ]
            });
        });
    </script>
}
