﻿@model SopEmbraco.ViewModels.ProductionReportViewModel
@using SopEmbraco.Models

@{
    ViewBag.Title = "Productions Reports";
}

<h1>Productions/Machine Stop Reports</h1>

@using (Html.BeginForm("ExportToExcel", "Productions"))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.WorkshopId, "WorkshopId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.WorkshopId, ((IEnumerable<Workshop>)ViewBag.Workshops).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.WorkshopId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkshopId, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.WorkshopLineId, "WorkshopLineId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.WorkshopLineId, ((IEnumerable<WorkshopLine>)ViewBag.WorkshopLines).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.WorkshopLineId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkshopLineId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductionStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.ProductionStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                @Html.ValidationMessageFor(model => model.ProductionStartDate, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ProductionEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.ProductionEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                @Html.ValidationMessageFor(model => model.ProductionEndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductModelId, "ProductModelId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ProductModelId, ((IEnumerable<ProductModel>)ViewBag.ProductModels).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.ProductModelId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control selectize" })
                @Html.ValidationMessageFor(model => model.ProductModelId, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ProductCodeId, "ProductCodeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ProductCodeId, ((IEnumerable<ProductCode>)ViewBag.ProductCodes).Select(option => new SelectListItem
                {
                    Text = option.Name,
                    Value = option.ProductCodeId.ToString()
                }), "All", htmlAttributes: new { @class = "form-control selectize" })
                @Html.ValidationMessageFor(model => model.ProductCodeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductionBatchId, "ProductionBatchId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ProductionBatchId, ((IEnumerable<ProductionBatch>)ViewBag.ProductionBatches).Select(option => new SelectListItem
                {
                    Text = option.BatchNumber,
                    Value = option.ProductionBatchId.ToString(),
                    Selected = (Model != null) && (Model.ProductionBatchId == option.ProductionBatchId)
                }), "All", new { @class = "form-control selectize" })
                @Html.ValidationMessageFor(model => model.ProductModelId, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="refresh-grid" type="button">Filter</button>
                <button id="export-to-excel" type="submit">Export To Excel</button>
            </div>
        </div>
    </div>
}

<h3>Productions</h3>

<div id="jsGrid"></div>
<hr />

<h3>Machine Stops</h3>

<div id="jsGridMachineStop"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jsgrid")

    <script>
        function ReloadWorkshopLines(workshopId) {
            $("#WorkshopLineId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByWorkshopId","WorkshopLines")" + "/" + workshopId,
                success: function (data) {
                    $("#WorkshopLineId").empty();
                    $("#WorkshopLineId").append('<option value>All</option>');
                    $.each(data, function (index, element) {
                        $("#WorkshopLineId").append('<option value="' + element.WorkshopLineId + '">' + element.Name + '</option>');
                    });

                    $("#WorkshopLineId").attr('disabled', false);
                }
            });
        }

        function ReloadProductCodes(productModelId) {
            $("#ProductCodeId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByProductModelId","ProductCodes")" + "/" + productModelId,
                success: function (data) {
                    $("#ProductCodeId").empty();
                    $("#ProductCodeId").append('<option value>All</option>');
                    $.each(data, function (index, element) {
                        $("#ProductCodeId").append('<option value="' + element.ProductCodeId + '">' + element.Name + '</option>');
                    });

                    $("#ProductCodeId").attr('disabled', false);
                }
            });
        }

        function ReloadProductionBatches(productCodeId) {
            $("#ProductionBatchId").attr('disabled', true);

            $.ajax({
                url: "@Url.Action("SelectByProductCodeId","ProductionBatches")" + "/" + productCodeId,
                success: function (data) {
                    $("#ProductionBatchId").empty();
                    $("#ProductionBatchId").append('<option value>Select...</option>');
                    $.each(data, function (index, element) {
                        $("#ProductionBatchId").append('<option value="' + element.ProductionBatchId + '">' + element.BatchNumber + '</option>');
                    });

                    $("#ProductionBatchId").attr('disabled', false);
                }
            });
        }

        function getProductionBatches(callback) {
            var productionBatches = [];
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllJson", "ProductionBatches")",
                async: false,
                success: function (data) {
                    productionBatches.push({ Name: "Select...", Id: "" });
                    $.each(data, function (index, element) {
                        productionBatches.push({ Name: element.BatchNumber, Id: element.ProductionBatchId });
                    });

                    callback.call(this, productionBatches);
                }
            });
        }

        function getMachineStopReasons(callback) {
            var machineStopReasons = [];
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllJson", "MachineStopReasons")",
                async: false,
                success: function (data) {
                    machineStopReasons.push({ Name: "Select...", Id: "" });
                    $.each(data, function (index, element) {
                        machineStopReasons.push({ Name: element.Name, Id: element.MachineStopReasonId });
                    });

                    callback.call(this, machineStopReasons);
                }
            });
        }

        $(document).ready(function () {
            $(".date").mask("99/99/9999");
            $(".date").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $(".selectize").each(function () {
                $(this).selectize({
                    sortField: 'text'
                });
            });

            getProductionBatches(function (a) {
                window.ProductionBatches = a;
            });

            getMachineStopReasons(function (a) {
                window.MachineStopReasons = a;
            });

            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",

                filtering: false,
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                deleteConfirm: "Do you really want to delete this production?",

                controller: {
                    loadData: function (filter) {
                        var outsideFilters = {
                            WorkshopLineId: $("#WorkshopLineId").val(),
                            ProductionStartDate: $("#ProductionStartDate").val(),
                            ProductionEndDate: $("#ProductionEndDate").val(),
                            ProductModelId: $("#ProductModelId").val(),
                            ProductCodeId: $("#ProductCodeId").val(),
                            ProductionBatchId: $("#ProductionBatchId").val()
                        };

                        var newFilter = $.extend({}, filter, outsideFilters);

                        return $.ajax({
                            type: "GET",
                            url: "@Url.Action("ReportJson", "Productions")",
                            data: newFilter,
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "ProductionId", type: "text", visible: false },
                    { name: "WorkshopLineId", type: "text", visible: false },
                    { name: "ProductionBatchId", type: "selectwithclass", items: window.ProductionBatches, valueField: "Id", textField: "Name", className: "productionbatch" },
                    { name: "PlanQty", type: "readonly", className: "planqty" },
                    { name: "ProductCodeName", type: "readonly", className: "productcode" },
                    { name: "Date", type: "date", width: 150 },
                    { name: "StartTime", type: "time", width: 80 },
                    { name: "EndTime", type: "time", width: 80 },
                    { name: "Target", type: "numberwithclass", className: "target" },
                    { name: "RealQuantity", type: "number" },
                    { name: "Comment", type: "text", width: 150 },
                    { type: "control" }
                ]
            });

            $("#WorkshopId").change(function () {
                ReloadWorkshopLines($(this).val());
            });

            $("#ProductModelId").change(function () {
                ReloadProductCodes($(this).val());
            });

            $("#ProductCodeId").change(function () {
                ReloadProductionBatches($(this).val());
            });

            $("#refresh-grid").click(function () {
                $("#jsGrid").jsGrid("loadData", { WorkshopLineId: $("#WorkshopLineId").val(), Date: $("#ProductionDate").val() }).done(function () {
                    console.log("data loaded");
                    $("#jsGrid").jsGrid("refresh");
                });

                $("#jsGridMachineStop").jsGrid("loadData", { WorkshopLineId: $("#WorkshopLineId").val(), Date: $("#ProductionDate").val() }).done(function () {
                    $("#jsGridMachineStop").jsGrid("refresh");
                });
            });

            $("#export-to-excel").click(function () {
                var dateSlug = "";
                if ($("#ProductionDate").val() != null) dateSlug = "?ReferenceDate=" + $("#ProductionDate").val();
                window.location.href = "@Url.Action("Edit", "Productions")/" + $("#WorkshopLineId").val() + dateSlug;
            });

            $(document).on("change", ".productionbatch", function () {
                var selectedBatch = $(this);
                $.ajax({
                    url: "@Url.Action("GetProductCodeJson", "ProductionBatches")" + "/" + $(this).val(),
                    success: function (data) {
                        var tableRow = selectedBatch.parent().parent();
                        var productCodeId = tableRow.children().find(".productcode");
                        var planQuantityId = tableRow.children().find(".planqty");
                        var targetId = tableRow.children().find(".target");
                        $(productCodeId).val(data.Name);
                        $(planQuantityId).val(data.Quantity);
                        $(targetId).val(data.Target);
                    }
                });
            });

            $("#jsGridMachineStop").jsGrid({
                height: "auto",
                width: "100%",

                filtering: false,
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                deleteConfirm: "Do you really want to delete this machine stop entry?",

                controller: {
                    loadData: function (filter) {
                        var outsideFilters = {
                            WorkshopLineId: $("#WorkshopLineId").val(),
                            StartDate: $("#ProductionStartDate").val(),
                            EndDate: $("#ProductionEndDate").val()
                        };
                        var newFilter = $.extend({}, filter, outsideFilters);

                        return $.ajax({
                            type: "GET",
                            url: "@Url.Action("ReportJson", "MachineStops")",
                            data: newFilter,
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "WorkshopLineId", type: "text", visible: false },
                    { name: "Date", type: "date", width: 80 },
                    { name: "Start", type: "time", width: 80 },
                    { name: "Finish", type: "time", width: 80 },
                    { name: "MachineStopReasonId", type: "selectwithclass", width: 150, items: window.MachineStopReasons, valueField: "Id", textField: "Name", className: "machinestopreason" },
                    { name: "Comment", type: "text", width: 150 },
                    { type: "control" }
                ]
            });
        });
    </script>
}