﻿@model IEnumerable<SopEmbraco.Models.ProductCodeWorkshop>

@{
    ViewBag.Title = "Index";
}

<h2>Association Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workshop.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workshop.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductCodeWorkshopId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductCodeWorkshopId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductCodeWorkshopId })
        </td>
    </tr>
}

</table>
